<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.dao.mybatis.MyFrameWorkMapper">
    <resultMap id="BaseResultMap" type="com.myweb.pojo.Menu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="parent" jdbcType="INTEGER" property="parent"/>
        <result column="shunxu" jdbcType="INTEGER" property="shunxu"/>
    </resultMap>

    <select id="queryByParentAndRole" resultMap="BaseResultMap">
       select a.* from menu a,roletomenu b where a.parent = #{parent,jdbcType=INTEGER} and a.id = b.menuid and b.role = #{role,jdbcType=VARCHAR} order by shunxu
    </select>

</mapper>