<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/web</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.myweb.pojo.Caiji"/>
    <mapping resource="com/myweb/pojo/Caiji.hbm.xml"/>
    <mapping resource="com/myweb/pojo/Laoren.hbm.xml"/>
    <mapping class="com.myweb.pojo.Laoren"/>
    <mapping resource="com/myweb/pojo/Menu.hbm.xml"/>
    <mapping class="com.myweb.pojo.Menu"/>
    <mapping resource="com/myweb/pojo/Shuxing.hbm.xml"/>
    <mapping class="com.myweb.pojo.Shuxing"/>
    <mapping resource="com/myweb/pojo/Tableinfo.hbm.xml"/>
    <mapping class="com.myweb.pojo.Tableinfo"/>
    <mapping class="com.myweb.pojo.User"/>
    <mapping resource="com/myweb/pojo/User.hbm.xml"/>
    <mapping resource="com/myweb/pojo/Usertomenu.hbm.xml"/>
    <mapping class="com.myweb.pojo.Usertomenu"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>