<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.dao.mybatis.CaijiMapper">
  <resultMap id="BaseResultMap" type="com.myweb.pojo.mybatis.Caiji">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="laorenid" jdbcType="INTEGER" property="laorenid" />
    <result column="laorenname" jdbcType="VARCHAR" property="laorenname" />
    <result column="gaoya" jdbcType="INTEGER" property="gaoya" />
    <result column="diya" jdbcType="INTEGER" property="diya" />
    <result column="xuetang" jdbcType="DECIMAL" property="xuetang" />
    <result column="maibo" jdbcType="INTEGER" property="maibo" />
    <result column="xueyang" jdbcType="INTEGER" property="xueyang" />
    <result column="tizhong" jdbcType="DECIMAL" property="tizhong" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="createuser" jdbcType="INTEGER" property="createuser" />
    <result column="createusername" jdbcType="VARCHAR" property="createusername" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, laorenid, laorenname, gaoya, diya, xuetang, maibo, xueyang, tizhong, time, createuser, 
    createusername, createtime
  </sql>
  <select id="selectByExample" parameterType="com.myweb.pojo.mybatis.CaijiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from caiji
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from caiji
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from caiji
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myweb.pojo.mybatis.CaijiExample">
    delete from caiji
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myweb.pojo.mybatis.Caiji">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into caiji (id, laorenid, laorenname, 
      gaoya, diya, xuetang, 
      maibo, xueyang, tizhong, 
      time, createuser, createusername, 
      createtime)
    values (#{id,jdbcType=INTEGER}, #{laorenid,jdbcType=INTEGER}, #{laorenname,jdbcType=VARCHAR}, 
      #{gaoya,jdbcType=INTEGER}, #{diya,jdbcType=INTEGER}, #{xuetang,jdbcType=DECIMAL}, 
      #{maibo,jdbcType=INTEGER}, #{xueyang,jdbcType=INTEGER}, #{tizhong,jdbcType=DECIMAL}, 
      #{time,jdbcType=VARCHAR}, #{createuser,jdbcType=INTEGER}, #{createusername,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myweb.pojo.mybatis.Caiji">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into caiji
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="laorenid != null">
        laorenid,
      </if>
      <if test="laorenname != null">
        laorenname,
      </if>
      <if test="gaoya != null">
        gaoya,
      </if>
      <if test="diya != null">
        diya,
      </if>
      <if test="xuetang != null">
        xuetang,
      </if>
      <if test="maibo != null">
        maibo,
      </if>
      <if test="xueyang != null">
        xueyang,
      </if>
      <if test="tizhong != null">
        tizhong,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="createuser != null">
        createuser,
      </if>
      <if test="createusername != null">
        createusername,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="laorenid != null">
        #{laorenid,jdbcType=INTEGER},
      </if>
      <if test="laorenname != null">
        #{laorenname,jdbcType=VARCHAR},
      </if>
      <if test="gaoya != null">
        #{gaoya,jdbcType=INTEGER},
      </if>
      <if test="diya != null">
        #{diya,jdbcType=INTEGER},
      </if>
      <if test="xuetang != null">
        #{xuetang,jdbcType=DECIMAL},
      </if>
      <if test="maibo != null">
        #{maibo,jdbcType=INTEGER},
      </if>
      <if test="xueyang != null">
        #{xueyang,jdbcType=INTEGER},
      </if>
      <if test="tizhong != null">
        #{tizhong,jdbcType=DECIMAL},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=INTEGER},
      </if>
      <if test="createusername != null">
        #{createusername,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myweb.pojo.mybatis.CaijiExample" resultType="java.lang.Integer">
    select count(*) from caiji
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update caiji
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.laorenid != null">
        laorenid = #{record.laorenid,jdbcType=INTEGER},
      </if>
      <if test="record.laorenname != null">
        laorenname = #{record.laorenname,jdbcType=VARCHAR},
      </if>
      <if test="record.gaoya != null">
        gaoya = #{record.gaoya,jdbcType=INTEGER},
      </if>
      <if test="record.diya != null">
        diya = #{record.diya,jdbcType=INTEGER},
      </if>
      <if test="record.xuetang != null">
        xuetang = #{record.xuetang,jdbcType=DECIMAL},
      </if>
      <if test="record.maibo != null">
        maibo = #{record.maibo,jdbcType=INTEGER},
      </if>
      <if test="record.xueyang != null">
        xueyang = #{record.xueyang,jdbcType=INTEGER},
      </if>
      <if test="record.tizhong != null">
        tizhong = #{record.tizhong,jdbcType=DECIMAL},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.createuser != null">
        createuser = #{record.createuser,jdbcType=INTEGER},
      </if>
      <if test="record.createusername != null">
        createusername = #{record.createusername,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update caiji
    set id = #{record.id,jdbcType=INTEGER},
      laorenid = #{record.laorenid,jdbcType=INTEGER},
      laorenname = #{record.laorenname,jdbcType=VARCHAR},
      gaoya = #{record.gaoya,jdbcType=INTEGER},
      diya = #{record.diya,jdbcType=INTEGER},
      xuetang = #{record.xuetang,jdbcType=DECIMAL},
      maibo = #{record.maibo,jdbcType=INTEGER},
      xueyang = #{record.xueyang,jdbcType=INTEGER},
      tizhong = #{record.tizhong,jdbcType=DECIMAL},
      time = #{record.time,jdbcType=VARCHAR},
      createuser = #{record.createuser,jdbcType=INTEGER},
      createusername = #{record.createusername,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myweb.pojo.mybatis.Caiji">
    update caiji
    <set>
      <if test="laorenid != null">
        laorenid = #{laorenid,jdbcType=INTEGER},
      </if>
      <if test="laorenname != null">
        laorenname = #{laorenname,jdbcType=VARCHAR},
      </if>
      <if test="gaoya != null">
        gaoya = #{gaoya,jdbcType=INTEGER},
      </if>
      <if test="diya != null">
        diya = #{diya,jdbcType=INTEGER},
      </if>
      <if test="xuetang != null">
        xuetang = #{xuetang,jdbcType=DECIMAL},
      </if>
      <if test="maibo != null">
        maibo = #{maibo,jdbcType=INTEGER},
      </if>
      <if test="xueyang != null">
        xueyang = #{xueyang,jdbcType=INTEGER},
      </if>
      <if test="tizhong != null">
        tizhong = #{tizhong,jdbcType=DECIMAL},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        createuser = #{createuser,jdbcType=INTEGER},
      </if>
      <if test="createusername != null">
        createusername = #{createusername,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myweb.pojo.mybatis.Caiji">
    update caiji
    set laorenid = #{laorenid,jdbcType=INTEGER},
      laorenname = #{laorenname,jdbcType=VARCHAR},
      gaoya = #{gaoya,jdbcType=INTEGER},
      diya = #{diya,jdbcType=INTEGER},
      xuetang = #{xuetang,jdbcType=DECIMAL},
      maibo = #{maibo,jdbcType=INTEGER},
      xueyang = #{xueyang,jdbcType=INTEGER},
      tizhong = #{tizhong,jdbcType=DECIMAL},
      time = #{time,jdbcType=VARCHAR},
      createuser = #{createuser,jdbcType=INTEGER},
      createusername = #{createusername,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.myweb.pojo.mybatis.Caiji">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="laorenid" jdbcType="INTEGER" property="laorenid" />
    <result column="laorenname" jdbcType="VARCHAR" property="laorenname" />
    <result column="gaoya" jdbcType="INTEGER" property="gaoya" />
    <result column="diya" jdbcType="INTEGER" property="diya" />
    <result column="xuetang" jdbcType="DECIMAL" property="xuetang" />
    <result column="maibo" jdbcType="INTEGER" property="maibo" />
    <result column="xueyang" jdbcType="INTEGER" property="xueyang" />
    <result column="tizhong" jdbcType="DECIMAL" property="tizhong" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="createuser" jdbcType="INTEGER" property="createuser" />
    <result column="createusername" jdbcType="VARCHAR" property="createusername" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, laorenid, laorenname, gaoya, diya, xuetang, maibo, xueyang, tizhong, time, createuser, 
    createusername, createtime
  </sql>
  <select id="selectByExample" parameterType="com.myweb.pojo.mybatis.CaijiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from caiji
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from caiji
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from caiji
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myweb.pojo.mybatis.CaijiExample">
    delete from caiji
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myweb.pojo.mybatis.Caiji">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into caiji (id, laorenid, laorenname, 
      gaoya, diya, xuetang, 
      maibo, xueyang, tizhong, 
      time, createuser, createusername, 
      createtime)
    values (#{id,jdbcType=INTEGER}, #{laorenid,jdbcType=INTEGER}, #{laorenname,jdbcType=VARCHAR}, 
      #{gaoya,jdbcType=INTEGER}, #{diya,jdbcType=INTEGER}, #{xuetang,jdbcType=DECIMAL}, 
      #{maibo,jdbcType=INTEGER}, #{xueyang,jdbcType=INTEGER}, #{tizhong,jdbcType=DECIMAL}, 
      #{time,jdbcType=VARCHAR}, #{createuser,jdbcType=INTEGER}, #{createusername,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myweb.pojo.mybatis.Caiji">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into caiji
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="laorenid != null">
        laorenid,
      </if>
      <if test="laorenname != null">
        laorenname,
      </if>
      <if test="gaoya != null">
        gaoya,
      </if>
      <if test="diya != null">
        diya,
      </if>
      <if test="xuetang != null">
        xuetang,
      </if>
      <if test="maibo != null">
        maibo,
      </if>
      <if test="xueyang != null">
        xueyang,
      </if>
      <if test="tizhong != null">
        tizhong,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="createuser != null">
        createuser,
      </if>
      <if test="createusername != null">
        createusername,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="laorenid != null">
        #{laorenid,jdbcType=INTEGER},
      </if>
      <if test="laorenname != null">
        #{laorenname,jdbcType=VARCHAR},
      </if>
      <if test="gaoya != null">
        #{gaoya,jdbcType=INTEGER},
      </if>
      <if test="diya != null">
        #{diya,jdbcType=INTEGER},
      </if>
      <if test="xuetang != null">
        #{xuetang,jdbcType=DECIMAL},
      </if>
      <if test="maibo != null">
        #{maibo,jdbcType=INTEGER},
      </if>
      <if test="xueyang != null">
        #{xueyang,jdbcType=INTEGER},
      </if>
      <if test="tizhong != null">
        #{tizhong,jdbcType=DECIMAL},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=INTEGER},
      </if>
      <if test="createusername != null">
        #{createusername,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myweb.pojo.mybatis.CaijiExample" resultType="java.lang.Integer">
    select count(*) from caiji
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update caiji
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.laorenid != null">
        laorenid = #{record.laorenid,jdbcType=INTEGER},
      </if>
      <if test="record.laorenname != null">
        laorenname = #{record.laorenname,jdbcType=VARCHAR},
      </if>
      <if test="record.gaoya != null">
        gaoya = #{record.gaoya,jdbcType=INTEGER},
      </if>
      <if test="record.diya != null">
        diya = #{record.diya,jdbcType=INTEGER},
      </if>
      <if test="record.xuetang != null">
        xuetang = #{record.xuetang,jdbcType=DECIMAL},
      </if>
      <if test="record.maibo != null">
        maibo = #{record.maibo,jdbcType=INTEGER},
      </if>
      <if test="record.xueyang != null">
        xueyang = #{record.xueyang,jdbcType=INTEGER},
      </if>
      <if test="record.tizhong != null">
        tizhong = #{record.tizhong,jdbcType=DECIMAL},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.createuser != null">
        createuser = #{record.createuser,jdbcType=INTEGER},
      </if>
      <if test="record.createusername != null">
        createusername = #{record.createusername,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update caiji
    set id = #{record.id,jdbcType=INTEGER},
      laorenid = #{record.laorenid,jdbcType=INTEGER},
      laorenname = #{record.laorenname,jdbcType=VARCHAR},
      gaoya = #{record.gaoya,jdbcType=INTEGER},
      diya = #{record.diya,jdbcType=INTEGER},
      xuetang = #{record.xuetang,jdbcType=DECIMAL},
      maibo = #{record.maibo,jdbcType=INTEGER},
      xueyang = #{record.xueyang,jdbcType=INTEGER},
      tizhong = #{record.tizhong,jdbcType=DECIMAL},
      time = #{record.time,jdbcType=VARCHAR},
      createuser = #{record.createuser,jdbcType=INTEGER},
      createusername = #{record.createusername,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myweb.pojo.mybatis.Caiji">
    update caiji
    <set>
      <if test="laorenid != null">
        laorenid = #{laorenid,jdbcType=INTEGER},
      </if>
      <if test="laorenname != null">
        laorenname = #{laorenname,jdbcType=VARCHAR},
      </if>
      <if test="gaoya != null">
        gaoya = #{gaoya,jdbcType=INTEGER},
      </if>
      <if test="diya != null">
        diya = #{diya,jdbcType=INTEGER},
      </if>
      <if test="xuetang != null">
        xuetang = #{xuetang,jdbcType=DECIMAL},
      </if>
      <if test="maibo != null">
        maibo = #{maibo,jdbcType=INTEGER},
      </if>
      <if test="xueyang != null">
        xueyang = #{xueyang,jdbcType=INTEGER},
      </if>
      <if test="tizhong != null">
        tizhong = #{tizhong,jdbcType=DECIMAL},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        createuser = #{createuser,jdbcType=INTEGER},
      </if>
      <if test="createusername != null">
        createusername = #{createusername,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myweb.pojo.mybatis.Caiji">
    update caiji
    set laorenid = #{laorenid,jdbcType=INTEGER},
      laorenname = #{laorenname,jdbcType=VARCHAR},
      gaoya = #{gaoya,jdbcType=INTEGER},
      diya = #{diya,jdbcType=INTEGER},
      xuetang = #{xuetang,jdbcType=DECIMAL},
      maibo = #{maibo,jdbcType=INTEGER},
      xueyang = #{xueyang,jdbcType=INTEGER},
      tizhong = #{tizhong,jdbcType=DECIMAL},
      time = #{time,jdbcType=VARCHAR},
      createuser = #{createuser,jdbcType=INTEGER},
      createusername = #{createusername,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.myweb.pojo.mybati.Caiji">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="laorenid" jdbcType="INTEGER" property="laorenid" />
    <result column="laorenname" jdbcType="VARCHAR" property="laorenname" />
    <result column="gaoya" jdbcType="INTEGER" property="gaoya" />
    <result column="diya" jdbcType="INTEGER" property="diya" />
    <result column="xuetang" jdbcType="DECIMAL" property="xuetang" />
    <result column="maibo" jdbcType="INTEGER" property="maibo" />
    <result column="xueyang" jdbcType="INTEGER" property="xueyang" />
    <result column="tizhong" jdbcType="DECIMAL" property="tizhong" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="createuser" jdbcType="INTEGER" property="createuser" />
    <result column="createusername" jdbcType="VARCHAR" property="createusername" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, laorenid, laorenname, gaoya, diya, xuetang, maibo, xueyang, tizhong, time, createuser, 
    createusername, createtime
  </sql>
  <select id="selectByExample" parameterType="com.myweb.pojo.mybati.CaijiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from caiji
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from caiji
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from caiji
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myweb.pojo.mybati.CaijiExample">
    delete from caiji
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myweb.pojo.mybati.Caiji">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into caiji (id, laorenid, laorenname, 
      gaoya, diya, xuetang, 
      maibo, xueyang, tizhong, 
      time, createuser, createusername, 
      createtime)
    values (#{id,jdbcType=INTEGER}, #{laorenid,jdbcType=INTEGER}, #{laorenname,jdbcType=VARCHAR}, 
      #{gaoya,jdbcType=INTEGER}, #{diya,jdbcType=INTEGER}, #{xuetang,jdbcType=DECIMAL}, 
      #{maibo,jdbcType=INTEGER}, #{xueyang,jdbcType=INTEGER}, #{tizhong,jdbcType=DECIMAL}, 
      #{time,jdbcType=VARCHAR}, #{createuser,jdbcType=INTEGER}, #{createusername,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myweb.pojo.mybati.Caiji">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into caiji
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="laorenid != null">
        laorenid,
      </if>
      <if test="laorenname != null">
        laorenname,
      </if>
      <if test="gaoya != null">
        gaoya,
      </if>
      <if test="diya != null">
        diya,
      </if>
      <if test="xuetang != null">
        xuetang,
      </if>
      <if test="maibo != null">
        maibo,
      </if>
      <if test="xueyang != null">
        xueyang,
      </if>
      <if test="tizhong != null">
        tizhong,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="createuser != null">
        createuser,
      </if>
      <if test="createusername != null">
        createusername,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="laorenid != null">
        #{laorenid,jdbcType=INTEGER},
      </if>
      <if test="laorenname != null">
        #{laorenname,jdbcType=VARCHAR},
      </if>
      <if test="gaoya != null">
        #{gaoya,jdbcType=INTEGER},
      </if>
      <if test="diya != null">
        #{diya,jdbcType=INTEGER},
      </if>
      <if test="xuetang != null">
        #{xuetang,jdbcType=DECIMAL},
      </if>
      <if test="maibo != null">
        #{maibo,jdbcType=INTEGER},
      </if>
      <if test="xueyang != null">
        #{xueyang,jdbcType=INTEGER},
      </if>
      <if test="tizhong != null">
        #{tizhong,jdbcType=DECIMAL},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=INTEGER},
      </if>
      <if test="createusername != null">
        #{createusername,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myweb.pojo.mybati.CaijiExample" resultType="java.lang.Integer">
    select count(*) from caiji
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update caiji
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.laorenid != null">
        laorenid = #{record.laorenid,jdbcType=INTEGER},
      </if>
      <if test="record.laorenname != null">
        laorenname = #{record.laorenname,jdbcType=VARCHAR},
      </if>
      <if test="record.gaoya != null">
        gaoya = #{record.gaoya,jdbcType=INTEGER},
      </if>
      <if test="record.diya != null">
        diya = #{record.diya,jdbcType=INTEGER},
      </if>
      <if test="record.xuetang != null">
        xuetang = #{record.xuetang,jdbcType=DECIMAL},
      </if>
      <if test="record.maibo != null">
        maibo = #{record.maibo,jdbcType=INTEGER},
      </if>
      <if test="record.xueyang != null">
        xueyang = #{record.xueyang,jdbcType=INTEGER},
      </if>
      <if test="record.tizhong != null">
        tizhong = #{record.tizhong,jdbcType=DECIMAL},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.createuser != null">
        createuser = #{record.createuser,jdbcType=INTEGER},
      </if>
      <if test="record.createusername != null">
        createusername = #{record.createusername,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update caiji
    set id = #{record.id,jdbcType=INTEGER},
      laorenid = #{record.laorenid,jdbcType=INTEGER},
      laorenname = #{record.laorenname,jdbcType=VARCHAR},
      gaoya = #{record.gaoya,jdbcType=INTEGER},
      diya = #{record.diya,jdbcType=INTEGER},
      xuetang = #{record.xuetang,jdbcType=DECIMAL},
      maibo = #{record.maibo,jdbcType=INTEGER},
      xueyang = #{record.xueyang,jdbcType=INTEGER},
      tizhong = #{record.tizhong,jdbcType=DECIMAL},
      time = #{record.time,jdbcType=VARCHAR},
      createuser = #{record.createuser,jdbcType=INTEGER},
      createusername = #{record.createusername,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myweb.pojo.mybati.Caiji">
    update caiji
    <set>
      <if test="laorenid != null">
        laorenid = #{laorenid,jdbcType=INTEGER},
      </if>
      <if test="laorenname != null">
        laorenname = #{laorenname,jdbcType=VARCHAR},
      </if>
      <if test="gaoya != null">
        gaoya = #{gaoya,jdbcType=INTEGER},
      </if>
      <if test="diya != null">
        diya = #{diya,jdbcType=INTEGER},
      </if>
      <if test="xuetang != null">
        xuetang = #{xuetang,jdbcType=DECIMAL},
      </if>
      <if test="maibo != null">
        maibo = #{maibo,jdbcType=INTEGER},
      </if>
      <if test="xueyang != null">
        xueyang = #{xueyang,jdbcType=INTEGER},
      </if>
      <if test="tizhong != null">
        tizhong = #{tizhong,jdbcType=DECIMAL},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        createuser = #{createuser,jdbcType=INTEGER},
      </if>
      <if test="createusername != null">
        createusername = #{createusername,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myweb.pojo.mybati.Caiji">
    update caiji
    set laorenid = #{laorenid,jdbcType=INTEGER},
      laorenname = #{laorenname,jdbcType=VARCHAR},
      gaoya = #{gaoya,jdbcType=INTEGER},
      diya = #{diya,jdbcType=INTEGER},
      xuetang = #{xuetang,jdbcType=DECIMAL},
      maibo = #{maibo,jdbcType=INTEGER},
      xueyang = #{xueyang,jdbcType=INTEGER},
      tizhong = #{tizhong,jdbcType=DECIMAL},
      time = #{time,jdbcType=VARCHAR},
      createuser = #{createuser,jdbcType=INTEGER},
      createusername = #{createusername,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>